package templates

import "github.com/julienr1/cribbage/internal/web/active-game"

templ Game(game *activegame.ActiveGame) {
	<script src="/public/res/game.js" defer></script>
	@Layout() {
		<div>game { game.Id }</div>
		<div>logged in player: { CurrentUserId(ctx) }</div>
		<ul id="players">
			for _, player := range game.Players {
				@Player(player, game.GetPlayerStatus(player.Id))
			}
		</ul>
	}
}
