package templates

import "github.com/julienr1/cribbage/internal/game"
import "fmt"
import "github.com/julienr1/cribbage/internal/web/active-game"

templ Player(player *game.Player, status activegame.PlayerStatus) {
	<li id={ fmt.Sprintf("player-%s", player.Id) }>
		<div>
			{ player.Id } : { player.Name } : 
			if status == activegame.Connected {
				"connected"
			} else {
				"disconnected"
			}
		</div>
	</li>
}
